
@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    .background{background-image:url(https://66.media.tumblr.com/82fc653e862a05c1a7b369e2f4339ea8/tumblr_od1jd2bnI01upvbufo1_540.gif);
                background-size:cover; background-repeat:no-repeat;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body class="background">
    
    <div > 
        <h1 style="font-size:35px; font-family:Leelawadee; color:white; border-bottom-color:antiquewhite" >Welcome to the Ocean of Dreams</h1>
        
        <p style="font-size:25px; color:white">Join us in experiencing the night of your life at The Ocean of Dreams Party.<br>
        This is a party where there is no judgement and you are free to live out your wildest dreams in our top-notch virtual reality machine.<br />
        Machines are limited so make your decision to Swim or regret it forever.</p>
        <h2 ><a style="color:white" @Html.ActionLink("Join us", "RideTheWave")></a></h2>
        
    </div>
</body>
</html>
